flask==2.3.2
requests<=2.27.1

# Pin low to work around Python 3 syntax creeping in.
certifi<=2021.10.8

# Work around 'cannot import name 'soft_unicode' from 'markupsafe' by pinning it low.
MarkupSafe<=2.0.1
